.signup__spacing {
  position: relative;
  display: flex;
  top: 1rem;
  justify-content: center;
  align-content: center;
}

.signup__logo {
  top: 1rem;
  margin: auto;
  position: absolute;
  height: 2.75rem;
}

.signup__body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
  text-align: center;
  margin-top: 6rem;
}

.signup__socials > h1 {
  font-weight: 750;
}

.signup__options {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.signup__options > button {
  /* background-color: transparent; */
  outline: none;
  font-weight: bolder;
  height: 3rem;
  text-transform: uppercase;
  border-radius: 25px;
}

.signup__auth {
}

.signup__auth > form {
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
}

.dob__container {
  position: relative;
  display: flex;
  height: 3rem;
  column-gap: 1rem;
  width: 100%;
  /* justify-content: space-between; */
}

.dob__fields {
  margin-top: 1rem;
}

.dob__field {
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  text-indent: 0.5rem;
}

.month__sizing {
  width: 40%;
  left: 0;
}

.day__sizing {
  margin-left: 9rem;
  width: 20%;
}

.year__sizing {
  right: 0;
  width: 30%;
}

.gender__container {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 1rem;
}

.gender__options {
  display: inline-flex;
  column-gap: 1rem;
}

.gender__option {
  display: flex;
  column-gap: 0.5rem;
}

.signup__submit {
  background-color: rgb(30, 215, 96);
  outline: none;
  border: none;
  height: 3rem;
  position: relative;
  width: 8rem;
  font-size: medium;
  font-weight: bolder;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 25px;
}

.signup__login {
    font-weight: 500;
}
.signup__login > span {
  color: rgb(35, 186, 87);
  cursor: pointer;
  text-decoration: underline;
}
